@model List<TowerInnCatering.Models.Product>


@{
    Layout = "_Layout";
}
<h1 style="padding-bottom:40px;">Our Buffets</h1>
<hr class="divider">


@foreach (var p in Model) {
<div class="media">
	<a class="pull-left">
		<img class="media-object" src="@Url.Content(p.Image)" height="120">
	</a>
	<div class="media-body">
		<h4>@p.Name: $@p.Price.ToString("N2")</h4>
		<p>@p.Description</p>
	</div>
</div>
}
<!--@foreach (var p in Model) {
<div class="media">
	<a class="pull-left">
		<img class="media-object" src="@Url.Content(p.Image)" height="120">
	</a>
	<div class="media-body">
		<h4>@p.Name: $@p.Price.ToString("N2")</h4>
		<p>@p.Description</p>
	</div>
</div>
}-->